body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: lightBlue;
}
#w {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 350px;
  margin: 0 auto;
  background-color: yellow;
  overflow: hidden;
}
li {
  display: block;
  width: 50px;
  height: 50px;
  float: left;
 /* outline: 1px solid grey;*/
}
li:nth-child(3n) {
  background-color: red;
}
li:nth-child(3n-1) {
  background-color: blue;
}
li:nth-child(3n-2) {
  background-color: green;
}
#p {
  background-color: orange;
}
.u,
.r,
.d,
.l {
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
.u {
  background-image: url(u.gif);
}
.r {
  background-image: url(r.gif);
}
.d {
  background-image: url(d.gif);
}
.l {
  background-image: url(l.gif);
}
