body,
html {
  padding: 0;
  margin: 0;
  overflow: hidden;
}
body {
  background-color: lightBlue;
}
#w {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 0 auto;
  overflow: hidden;
}
li {
  float: left;
  background-image: url(t.png);
  background-color: #575757;
  background-size: 300%;
  background-position: 50% 50%;
}
.u, .r, .d, .l {
  background-image: url(m.gif);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 200%;
}
.u {
  background-position: 0 0;
}
.r {
  background-position: 100% 0;
}
.d {
  background-position: 100% 100%;
}
.l {
  background-position: 0 100%;
}
